/* Contacto */

form {
    background-color: #f3ce7d;
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

#id-header {
    padding: 50px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    height: 132px;
}