/* Sobre Nosotros */

.sobre-nosotros-main {
    display: flex;
    border: solid 1px #5fcda4;
    margin: 50px;
    padding: 50px;
    border-radius: 30px;
}

.sobre-nosotros-main section p {
    font-size: 20px;
    margin: 35px;
}

.sobre-nosotros-main h2 {
    font-size: 35px;
}